* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar Container */
header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #ffffff;
}
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 40px;
  font-family: 'Inter', sans-serif;
}

/* Logo */
.nav-logo h3 {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #000;
}

/* Search Bar */
.nav-search {
  width: 35%;
  background: #f3efe4;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.nav-search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}

/* Icons Right */
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
}

.icons i {
  font-size: 14px;
  cursor: pointer;
  position: relative;
  color: #000;
}

/* Badge Bubble */
.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: black;
  color: white;
  font-size: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* MAIN MENU */
.main-menu {
  width: 100%;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  margin: 10px 0;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* background: #f3efe4; */
}

.main-menu ul li a {
  text-decoration: none !important; /* underline removed */
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  transition: 0.2s ease;
}

/* Hover effect */
.main-menu ul li a:hover {
  color: #555;
}
.carousel-container {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
}

/* Fade animation */
.fade {
  animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

/* Next & Prev buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  transform: translateY(-50%);
  user-select: none;
}

.prev { left: 20px; }
.next { right: 20px; }

.prev:hover, .next:hover {
  color: #000;
}

/* Dots */
.dots {
  text-align: center;
  padding: 10px 0;
  background: rgba(0,0,0,0.2);
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.active, .dot:hover {
  background: #555;
}
